[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-caching = "==1.9.0"
flask-cors = "==3.0.10"
flask-pymongo = "==2.3.0"
flask-restful = "==0.3.8"
flask = "==1.1.2"
pymongo = "==3.11.2"
dnspython = "*"

[requires]
python_version = "3.7"
